<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reservado.css">
    <link rel="sortcut icon" href="/public/reservado.css">
    <title>Rerseva concluida!</title>
</head>
<body>
    <div> 
        <h1>Reserva realizada!</h1>
        <p>Obrigada por confiar em nosso serviço! Espero que sua estadia em nosso hotel seja memoravel! </p>
        <input type="submit" id="btn-submit" value="Volte para o Menu">
    </div>



</body>
<script type="text/javascript">
    document.getElementById("btn-submit").onclick = function () {
        location.href = "/public";
    };
</script>
</html>