* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}


.caixa {
    position: flex;
    width: 1080px;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #D99611;
    text-decoration: none;
}

body {
    padding-top: 5vh; /*view height seria uns 5% dependendo da tela*/
    overflow: hidden;
}
.copy {
    position: absolute;
    display: inline-block;
    margin-left: 18%;
    width: 670px;
    height: 600px;
}

img {
    border-radius: 25px;
}

#main-container {
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 600px;
    margin-top: 0%;
    margin-left: 50%;
    margin-right: 10%;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /*adptada ao elemento root vai ser 1.6 root a menos do elemento da página*/
}

form {
    display: flex; 
    flex-wrap: wrap; /* serve para alinhar os elementos de uma melhor forma enquanto eu adiciono/
    justify-content: space-between; / para criar um espaçamento entre um e outro*/
}

.full-box {
    flex: 1 1 100%; /* serve para ele ocupar todo o espaço que tem para trabalhar*/
    position: relative;
}

.half-box {
    flex: 1 1 45%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #D99611;
}

input[type="submit"] {
    background-color: #D99611;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}


select{
    text-decoration: none;
    border-bottom: 2px solid #323232;
}

#log {
    text-align: center;
}

